/* стили для блока description */

.description {
  display: flex;
  justify-content: center;
  /* сделал весь блок флекс-контейнером и выровнял по центру содержимое */
}


.description__two-columns {
  margin: 100px 0 0 0;
  /* обнулил все отступы и добавил верхний всему блоку two-columns как элементу блока description*/
}


.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* определил размер блока и сделал его флекс-контейнером, чтобы раздвинуть содержимое */
}


.two-columns__brief {
  width: 175px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2e81ed;
  /* оформил бриф: указал размер, убрал встроенные отступы тега h2, задал типографику и цвет */
}


.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  /* определил размеры блока с текстом */
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  /* задал нижний отступ и типографику параграфам */
}


.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
  /* приказал последнему элементу-параграфу убрать нижний отступ */
}


.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  /* оформил жирный текст */
}
